<p id="notice"><%= notice %></p>

<h3><%= @idea.name %></h3>

<p><em><%= @idea.description %></em></p>

<p>
	<%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
  
  <h4>Comments:</h4>
  <% @idea.comments.each do |comment| %>
    <div>
     	<p>
      	<%= comment.body %>&nbsp;&nbsp;
  		<em><%= comment.user_name %></em>
		</p>
    </div>
  <% end %>
  <%= render 'comments/form' %>
  
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
